<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>WebAuthn Example</title>
        <link th:href="@{/css/tachyons.css}" rel="stylesheet" />
    </head>
    <body class="black-80">
        <div th:replace="header :: header">...</div>
        <div class="pa4 black-80">
            <div id="errors"></div>
            <form class="measure center" id="form" >
                <legend class="f2 f1-l fw2 mb0 lh-title">Register Authentication</legend>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="username">Username:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="username" id="username" required>
                </div>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="displayname">Display Name:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="display" id="display" required>
                </div>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="pwdname">Password Name:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="display" id="pwdname" required>
                </div>
                <div class="mt3">
                    <label class="db fw6 lh-copy" for="credentialname">Credential Name:</label>
                    <input class="pa2 input-reset ba bg-transparent hover-bg-hot-pink hover-white w-100" type="text" name="credname" id="credname" required>
                </div>
                <button class="ba bw1 mt2 no-underline br-pill ph3 pv2 mb2 dib white b--hot-pink bg-hot-pink" type="submit">Submit</button>
            </form>
        </div>
    </body>
    <script src="javascript/base64js.min.js"></script>
    <script src="javascript/custom.js"></script>
    <script>
        document.addEventListener("submit", (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const userRequest=new UserRequest(
                "bbb",
               "bbbb",
               "bbb"
            )

            console.log("submit" + userRequest.username + userRequest.displayName + userRequest.password       )
            fetch('http://localhost:8090/register', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username:"aaaa",
                    displayName:"aaaa",
                    password:"aaaaa"
                })
            })
                .then(response => initialCheckStatus(response))
                .then(credentialCreateJson => ({
                    publicKey: {
                        ...credentialCreateJson.publicKey,
                        challenge: base64urlToUint8array(credentialCreateJson.publicKey.challenge),
                        user: {
                            ...credentialCreateJson.publicKey.user,
                            id: base64urlToUint8array(credentialCreateJson.publicKey.user.id),
                        },
                        excludeCredentials: credentialCreateJson.publicKey.excludeCredentials.map(credential => ({
                            ...credential,
                            id: base64urlToUint8array(credential.id),
                        })),
                        extensions: credentialCreateJson.publicKey.extensions,
                    },
                }))
                .then(credentialCreateOptions =>
                    navigator.credentials.create(credentialCreateOptions))
                .then(publicKeyCredential => ({
                    type: publicKeyCredential.type,
                    id: publicKeyCredential.id,
                    response: {
                        attestationObject: uint8arrayToBase64url(publicKeyCredential.response.attestationObject),
                        clientDataJSON: uint8arrayToBase64url(publicKeyCredential.response.clientDataJSON),
                        transports: publicKeyCredential.response.getTransports && publicKeyCredential.response.getTransports() || [],
                    },
                    clientExtensionResults: publicKeyCredential.getClientExtensionResults(),
                }))
                .then((encodedResult) => {
                    const form = document.getElementById("form");
                    const formData = new FormData(form);
                    formData.append("credential", JSON.stringify(encodedResult));
                    return fetch("/finishauth", {
                        method: 'POST',
                        body: formData
                    })
                })
                .then((response) => {
                    followRedirect(response);
                })
                .catch((error) => {
                    displayError(error);
                });
        })

        class UserRequest {
            constructor(data) {
                this.username = data.username;
                this.displayName = data.displayName;
                this.password = data.password;
            }
        }
    </script>
</html>
